
.forgot-password-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

h2 {
    color:white;
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    color:white;
    font-size: 16px;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 95%;
    padding: 10px 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 60%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.forgot-password-footer {
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}

@media (max-width: 600px) {
    .forgot-password-container {
        width: 90%;
        padding: 20px;
    }
    h2 {
        font-size: 20px;
    }
    input[type="submit"] {
        font-size: 14px;
    }
}

.message {
    margin-top: 20px;
    font-size: 16px;
    color: #28a745;
}

.error {
    color: red;
}
